---
title: rubymotion documentation project
---
{% extends 'layouts/default.html' %}
{% from 'includes/author.j2' import author %}


{% macro pages(items) %}
<ul>
  {%- for node in items if node.iterable -%}
    {%- if not node.exclude_from_toc -%}
{%- if node.is_page                                       -%}
{%-   set page = node                                     -%}
{%-   set node_pages = []                                 -%}
{%- elif node.is_folder and node.index                    -%}
{%-   set page = node.index                               -%}
{%-   set node_pages = node.all(pages=True, folders=True) -%}
{%- else                                                  -%}
{%-   set page = None                                     -%}
{%- endif                                                 -%}

{%- if page -%}
  <li>
    <a href="{{ page.url }}">{{ page.title }}</a>
{%- if page.author %}
    by {{ author(authors[page.author]) }}
{%- endif -%}
    {%- if node_pages -%}
{{ pages(node_pages) }}
    {%- endif -%}
  </li>
{%- endif -%}

    {%- endif -%}
  {%- endfor -%}
</ul>
{% endmacro %}


{% block main %}
{{ pages(site.all(pages=True, folders=True)) }}
{% endblock %}
