/* SASS Mixins
--------------------------------------------------*/

@mixin shadow($color: rgba(0,0,0,0.3), $left: 0px, $top: 0px, $blur: 8px) {
  box-shadow: $left $top $blur $color;
    -o-box-shadow: $left $top $blur $color;
    -ms-box-shadow: $left $top $blur $color;
    -moz-box-shadow: $left $top $blur $color;
    -webkit-box-shadow: $left $top $blur $color;
}

@mixin inset($color: #000000, $left: 0px, $top: 0px, $blur: 8px) {
  box-shadow: inset $left $top $blur $color;
    -o-box-shadow: inset $left $top $blur $color;
    -ms-box-shadow: inset $left $top $blur $color;
    -moz-box-shadow: inset $left $top $blur $color;
    -webkit-box-shadow: inset $left $top $blur $color;
}


@mixin text-shadow($color: rgba(0,0,0,0.3), $left: 0px, $top: 0px, $blur: 8px) {
  text-shadow: $left $top $blur $color;
    -o-text-shadow: $left $top $blur $color;
    -moz-text-shadow: $left $top $blur $color;
    -webkit-text-shadow: $left $top $blur $color;
}

@mixin rounded($radius) {
  border-radius: $radius;
    -o-border-radius: $radius;
    -ms-border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}

@mixin gradient($bottom,$top) {
  background-color: $bottom;
    background-image: -o-linear-gradient(center bottom, $bottom 1%, $top 100%);
    background-image: -ms-linear-gradient(center bottom, $bottom 1%, $top 100%);
    background-image: -moz-linear-gradient(center bottom, $bottom 1%, $top 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.01, $bottom), color-stop(1.00, $top));
}

@mixin default {
  display: inline;
  float: left;
  height: auto;
  width: 100%;
}

@mixin inner {
  display: block;
  margin: 0 auto;
  padding: 0px;
  text-align: left;
  width: 960px;
}

@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html & { height: 1px }
}

@mixin wrapper {
  display: block;
  height: auto;
  position: relative;
  width: 100%;
  z-index: 1;
}


@mixin html {
  h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, hgroup, hr {
    display: block !important;
    float: none !important;
    margin: 0px 0px 15px 0px !important;
    width: auto !important;
  }
  .fl { float: left; margin: 0px 25px 15px 0px; }
  .fr { float: right; margin: 0px 0px 15px 25px; }
  figure { &.left { float: left; margin: 2px 20px 10px 0px; } &.right { float: right; margin: 2px 0px 10px 20px; }}
  img { &.left { float: left; margin: 5px 20px 15px 0px; } &.right { float: right; margin: 5px 0px 15px 20px; }}
  table { display: table; width: 100% !important; }
}

/* Colors
------------------------------------*/

$ruby: #b60000;

$white: #ffffff;
$black: #000000;

$reallydarkgrey: #3f3f3f;
$darkgrey: #5e5e5e;
$grey: #777777;
$lightgrey: #a1a1a1;
$reallylightgrey: #dbdbdb;
$reallyreallylightgrey: #f4f4f4;

$font-title: "Raleway", Helvetica, Arial, sans-serif;
$font-default: "Pontano Sans", Helvetica, Arial, sans-serif;
$font-fancy: "Gentium Basic", Georgia, serif;

/* Selection/Highlight
------------------------------------*/

::-webkit-selection {
  background: $darkgrey;
  color: $lightgrey;
}

::-moz-selection {
  background: $darkgrey;
  color: $lightgrey;
}

::-ms-selection {
  background: $darkgrey;
  color: $lightgrey;
}

::-o-selection {
  background: $darkgrey;
  color: $lightgrey;
}

::selection {
  background: $darkgrey;
  color: $lightgrey;
}

/* Layout
------------------------------------*/

body {
  background: darken($reallydarkgrey,10%);
  font-family: $font-default;
  font-weight: normal;
  margin: none;
  padding: none;
}

/* Tags
------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  border-bottom: dotted 1px darken($reallylightgrey,10%);
  font-size: 28px;
  line-height: 34px;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 5px 0px;
}

h2 {
  font-size: 25px;
  line-height: 32px;
  margin: 0px 0px 5px 0px;
}

h3 {
  font-size: 22px;
  line-height: 28px;
  margin: 0px 0px 5px 0px;
}

h4, h5, h6 {
  font-size: 20px;
  line-height: 26px;
  margin: 0px 0px 5px 0px;
}

p {
  font-size: 14px;
  line-height: 21px;
  margin: 0px 0px 10px 0px;
}

a {
  color: $ruby;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  display: inline-block;
  height: auto;

  &:hover {
    color: lighten($ruby,25%);
  }
}

figure {
  margin: 0px 0px 15px 0px;
}

img {
  @include rounded(5px);
  display: inline-block;
  overflow: hidden;
}

pre {
  @include rounded(5px);
  background-color: $reallydarkgrey;
  border-bottom: 3px solid darken($reallyreallylightgrey,15%);
  color: #fdce93;
  margin: 0px 0px 15px 0px;
  padding: 20px;
  
  code {
    background-color: #3f3f3f;
    border: 0px;
    color: #fdce93;
    padding: 0px;
  }
}

.codehilite {
  pre {
    overflow: auto;
  }
}

code {
  @include rounded(3px);
  color: $reallydarkgrey;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid lighten($ruby,10%);
}

blockquote {
  @include rounded(5px);
  background-color: $reallydarkgrey;
  border-bottom: 3px solid darken($reallyreallylightgrey,15%);
  color: $white;
  font-family: $font-fancy;
  font-style: italic;
  font-weight: normal;
  margin: 0px 0px 15px 0px;
  padding: 10px;

  p {
    font-size: 16px;
    margin: 0px;
  }
}

/* Header
------------------------------------*/

.header {
  background: $reallyreallylightgrey;
  display: block;
  margin: 0 auto;
  padding: 25px;
  width: auto;
}

#title {
  color: $lightgrey;
  font-family: $font-title;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 0px;
  line-height: 30px;
  margin: 0px;
  text-align: left;
  padding: 0px;
}

#subtitle {
  background: $reallyreallylightgrey;
  padding: 0px;
  
  .title {
    display: block;
    font-family: $font-title;
    font-weight: 100;
    font-size: 45px;
    letter-spacing: -1px;
    line-height: 55px;
    margin: 0px;
  }
}

.breadcrumb {
  background: $ruby url("/image/kaleidoscope.gif");
  color: $reallyreallylightgrey;
  display: block;
  font-size: 12px;
  margin: 0px 0px 0px 0px;
  padding: 5px 25px;
  
  a {
    color: $white;

    &:hover {
      color: lighten($ruby,50%);
    }
  }
  
  span.icon {
    font-size: 10px;
    margin: 0px 5px;
  }
}

/* Content
------------------------------------*/

.content {
  background: $reallyreallylightgrey;
  display: block;
  margin: 0 auto;
  padding: 20px 25px;
  width: auto;
}

section.split {
  img.screenshot {
    width: 100%;
  }

  .left {
    width: 70%;
    float: left;
  }

  .right {
    width: 30%;
    float: right;
  }

  @include clearfix;
}

section.split90 {
  img.screenshot {
    width: 100%;
  }

  .left {
    width: 88%;
    float: left;
  }

  .right {
    width: 10%;
    float: right;
  }

  @include clearfix;
}

section.split100 {
  img.screenshot {
    width: 100%;
  }

  .left {
    width: 83%;
    float: left;
  }

  .right {
    width: 15%;
    float: right;
  }

  @include clearfix;
}

section.example {
}

figure.gravatar {
  @include rounded(50px);
  display: inline-block;
  float: none;
  height: 24px;
  margin: 0px 4px 0px 2px;
  overflow: hidden;
  padding: 0px;
  position: relative;
  top: 6px;
  width: 24px;

  img {
    @include rounded(50px);
    width: 24px;
    height: 24px;
  }
}

/* Footer
------------------------------------*/

footer {
  display: block;
  padding: 25px 0px;
  text-align: center;
  width: auto;

  a, span {
    color: $grey;
    padding: 0px 20px;
    
    a {
      padding: 0px;
    }
  }
}
