{% extends 'layouts/default.html' %}
{% from 'includes/author.j2' import by_author %}


{% block header %}
{{ super() }}
  <div id="subtitle">
    <span class="title">{{ title }}</span>
{%- if my.author -%}
    <br />by <span class="author">{{ by_author(authors[my.author]) }}</span>
{%- endif -%}
  </div>
{% endblock %}


{% block main %}
<div class="breadcrumb">
{% for crumb in my.ancestors -%}
<a href="{{ crumb.url }}">{{ crumb.title }}</a> &rsaquo;
{% endfor -%}
{{ my.title }} &rsaquo;
</div>
{% block content %}{% endblock %}

{% if my.example %}
<section class="example">
  <p>
    Example:
    <a href="https://github.com/rubymotion/rubymotion.github.com/tree/build/examples/{{ my.example }}">
      rubymotion.github.com/tree/build/examples/{{ my.example }}
    </a>
  </p>
</section>
{% endif %}

<div class="breadcrumb">
{% for crumb in my.ancestors -%}
  &lsaquo; <a href="{{ crumb.url }}">{{ crumb.title }}</a>
{% endfor -%}
</div>

{% endblock %}
