<!DOCTYPE html>

<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Norican' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.prefix }}css/index.css">
    <title>{{ page.title }}</title>
  </head>

  <body>
    <div class="header">
      <span id="title">welcome</span>
      <p id="subtitle">to the rubymotion documentation project</p>
    </div>

    <div class="content">
{{ content }}
    </div>

    <footer>
    <p><a href="https://github.com/rubymotion">Github</a></p>
    </footer>

  </body>

  <script src="{{ site.prefix }}js/rainbow.min.js"></script>
  <link rel="stylesheet" href="{{ site.prefix }}css/theme.css">
  <script src="{{ site.prefix }}js/generic.js"></script>
  <script src="{{ site.prefix }}js/ruby.js"></script>
</html>
